/* 
Notes : 
140px margin/padding from both end
1600px total canvas 
max-width - 1320px --> 82.5% of total length
fonts : Merriweather and inter
paragraphs
banner titles
container div's
section titles
section title's upper text
*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Common Styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}
.banner-upper-text, .banner-title  {
    font-family: 'Merriweather';
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    line-height: 95px;
    max-width: 632px;
    
}
.header-title {
    margin: 0 auto;
}
.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
}
.para {
    max-width: 650px;
    color: rgba(255, 255, 255, 0.80);
font-size: 20px;
font-weight: 400;
line-height: 30px;
}

.container {
  width: 80%;
  max-width: 1320px;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 50px;
  
}

.st-upper-text {
    color: #F00;
text-align: center;
font-size: 20px;
font-weight: 500;
margin-bottom: 10px;
}
.section-title {
    color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
padding-bottom: 20px;
}


/* header section styles */
.header-box {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    max-height: 600px; 

}
.banner-upper-text{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

/* offer section styles */
.offer-container {
    margin-top: 120px;
}
.off {
    color: #F00;
text-align: center;
font-size: 80px;
font-weight: 700;
margin-bottom: 40px;
}

.offer-content{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

/* party section */
.party-box {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    padding-bottom: 150px;
    max-height: 600px; 
}

.party-title {
    font-size: 60px;
    text-align: left;
}
/* .party-description {
    
} */

.party-btn {
    background-color: transparent;
}

.event-container {
    max-height: 450px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px;
    margin-top: 120px;
}
.event-info-text {
    padding-bottom: 50px;
}
.event-info-text p{
    color: #070211;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
text-align: center;

}
.event-info-text p span {
    color: #F00;
}
.btn-event {
    display: flex;
    justify-content: center;
}

/* coming soon section */
.coming-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.coming-container p  {
    color: rgba(7, 2, 17, 0.60);
    max-width: 350px;
}
.coming-text {
    text-align: left;
}
.div2024 {
    text-align: right;
}
.div2024 h2 {
    color: #F00;
}
.div2024 img {
    margin-top: 20px;
}
.img-circle {
    border: 10px solid #F00;
    border-radius: 50%;
    padding: 10px;
}

/* Holidays section style */





/* Portfolio Section */
.portfolio-container {
    margin-top: 120px;
}
.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    max-width: 850px;
    
}

.portfolio-text,.coming-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.portfolio-content {
    box-sizing: border-box;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;

}
.portfolio-content img{
    width: 30%;
}
/* newsletter section styles */
.newsletter-container {
    background-color: rgba(255, 0, 0, 0.05);
    max-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.newsletter-container p {
    color: rgba(7, 2, 17, 0.60);
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 45px;
}
.newsletter-container img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.newsletter-input {
    margin: 0 auto;
}

/* email subscription styles*/
.newsletter-input{
    position: relative;
}
.newsletter-input input{
    width: 620px;
    height: 35px;
    border: none;
    padding: 25px;
    border-radius: 50px;
}
.newsletter-input .btn {
    border-radius: 0px 50px 50px 0px;
    position:absolute;
    top: 0;
    right: -3%;
    bottom: 0;
}

/* footer section styles */
.footer-container {
    margin-top: 120px;
    padding: 120px 0 120px 0;
    background-color: #070211;

}
.footer-div {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.address {
    width: 80%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
}

.number, .web  {
    display: flex;
    gap: 16px;
}
.icon-div {
    margin-top: 90px;
    display: flex;
    gap: 24px;
    margin-bottom: 90px;
}
.icon-div img {
    width: 64px;
    height: 64px;
}

.last-div {
    width: 80%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
}